[submodule "Vendor/Git"]
	path = Vendor/Git
	url = https://github.com/pwhittlesea/Git.php.git
[submodule "Vendor/UnifiedDiff"]
	path = Vendor/UnifiedDiff
	url = https://github.com/pwhittlesea/UnifiedDiff.git
